<p>
  Mountain Dew, stylized as Mtn Dew, is a carbonated soft drink brand produced
  and owned by PepsiCo. The original formula was invented in 1940 by Tennessee
  beverage bottlers Barney and Ally Hartman and was developed as a mixer.
</p>

<p>
  Soft drinks were sold regionally in the 1930s, and the Hartmans had difficulty
  in Knoxville obtaining their preferred soda to mix with liquor, preferably
  whiskey, so the two developed their own. Originally a 19th-century slang term
  for whiskey, especially Highland Scotch whiskey, the Mountain Dew name was
  trademarked for the soft drink in 1948.
</p>

<p>
  Charles Gordon, who had partnered with William Swartz to bottle and promote
  Dr. Enuf, was introduced to Mountain Dew when he met the Hartman brothers on a
  train and they offered him a sample. Gordon and the Hartman brothers
  subsequently made a deal to bottle Mountain Dew by the Tri-Cities Beverage
  Corporation in Johnson City, Tennessee. The Tip Corporation of Marion,
  Virginia bought the rights to Mountain Dew, revising the flavor and launching
  it in 1961. In 1964, Pepsico purchased the Tip Corporation and thus acquired
  the rights to Mountain Dew. In 1999, the Virginia legislature recognized Bill
  Jones and the Town of Marion for their role in the history of Mountain Dew.
</p>
