<h2 class="text-center">The History of Whiskey</h2>
<hr />
<h3 class="pt-5">2000 BC</h3>
<p>
  The art of
  <dfn
    tooltip="/ˌdistəˈlāSH(ə)n/ - the action of purifying a liquid by a process of heating and cooling."
    placement="top"
  >
    distillation
  </dfn>
  was founded in ancient Mesopotamia. Mainly to be used to produce perfumes and
  aromatics.
</p>
<h3 class="pt-5">100 AD</h3>
<p>
  The first written record of distilling is found. Ancient Greek philosopher
  <a href="javascript:void(0)" (click)="openModal(alexanderOfAphrodisias)"
    >Alexander of Aphrodisias</a
  >
  describes the process of taking sea water and distilling it into pure drinking
  water. Medieval civilizations evolved their techniques over the following
  centuries, although still not resulting in alcohol.
</p>

<ng-template #alexanderOfAphrodisias>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Alexander of Aphrodisias</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Alexander of Aphrodisias (Greek: Ἀλέξανδρος ὁ Ἀφροδισιεύς; fl. 200 AD) was a
    Peripatetic philosopher and the most celebrated of the Ancient Greek
    commentators on the writings of Aristotle. He was a native of Aphrodisias in
    Caria, and lived and taught in Athens at the beginning of the 3rd century,
    where he held a position as head of the Peripatetic school. He wrote many
    commentaries on the works of Aristotle, extant are those on the Prior
    Analytics, Topics, Meteorology, Sense and Sensibilia, and Metaphysics.
    Several original treatises also survive, and include a work On Fate, in
    which he argues against the Stoic doctrine of necessity; and one On the
    Soul. His commentaries on Aristotle were considered so useful that he was
    styled, by way of pre-eminence, "the commentator" (ὁ ἐξηγητής).
  </div>
</ng-template>
