<h2 class="text-center">The History of Whiskey</h2>
<hr />

<div class="card mt-5">
  <h5 class="card-header">2000 BC</h5>
  <div class="card-body">
    <p>
      The art of
      <a href="javascript:void(0)" (click)="openModal(distillation)"
        >distillation</a
      >
      was founded in ancient Mesopotamia. Mainly to be used to produce perfumes
      and aromatics.
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">100 AD</h5>
  <div class="card-body">
    <p>
      The first written record of distilling is found. Ancient Greek philosopher
      <a href="javascript:void(0)" (click)="openModal(alexanderOfAphrodisias)"
        >Alexander of Aphrodisias</a
      >
      describes the process of taking sea water and distilling it into pure
      drinking water. Medieval civilizations evolved their techniques over the
      following centuries, although still not resulting in alcohol.
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">500-1000 AD</h5>
  <div class="card-body">
    <p>
      Knowledge of distillation spread to Europe along with the traveling Moors
      of the early first millennia. The process is picked up by those in the
      Christian religion, using it to produce ingredients for various
      ceremonies, and also medicines for colic, palsy and smallpox.
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1000-1200 AD</h5>
  <div class="card-body">
    <p>
      The origin of whiskey began over 1000 year ago when distillation made the
      migration from mainland Europe into Scotland and Ireland via traveling
      monks. The Scottish and Irish monasteries, lacking the vineyards and
      grapes of the continent, turn to fermenting grain mash, resulting in the
      first distillations of modern whisky.
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1250 AD</h5>
  <div class="card-body">
    <p>
      Around this time, the earliest records of alcohol distillation appear in
      Italy, with it being distilled from wine. The technique was recounted by
      Ramon Llull (1232 – 1315).
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1405 AD</h5>
  <div class="card-body">
    <p>
      The first written record of 'whisky' appears in the Irish Annals of
      Clonmacnoise, where is was written that the head of a clan died after
      “taking a surfeit [excessive amount] of aqua vitae” at Christmas.
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1494 AD</h5>
  <div class="card-body">
    <p>
      By this time, the distilling of whisky in Scotland is fully underway, as
      evident by a record in the Exchequer Rolls of 1494 where King James IV of
      Scotland granted a large amount of malt “To Friar John Cor, by order of
      the king, to make aquavitae.”
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1536-1541 AD</h5>
  <div class="card-body">
    <p>
      The production of whisky shifted to the general public, after King Henry
      VIII of England dissolved the monasteries, making a large number of monks
      independent and looking for new ways to make a living. Distillation was
      it.
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1600 AD - onwards</h5>
  <div class="card-body">
    <p>
      As the European colonists began to arrive in America, they brought with
      them the practice of distilling whiskey. Many Scottish and Irish
      immigrants settled in their new territories, eventually beginning to
      distill their new types of grains and mash.
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1608 AD</h5>
  <div class="card-body">
    <p>
      The Old Bushmills Distillery is licensed in Northern Ireland, and today
      holds the title of oldest licensed whiskey distillery in the world. worlds
      oldest distillery old bushmills
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1707-1725 AD</h5>
  <div class="card-body">
    <p>
      The Acts of Union resulted in the merging of the Kingdoms of England and
      Scotland, creating Great Britain, and in the following years, taxes rose
      dramatically. The English Malt Tax of 1725 seriously threatened the
      production of whisky, and led the majority of Scottish distilleries to
      head underground and begin production at night, giving whisky one if its
      finest nicknames, “moonshine.”
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1775-1783 AD</h5>
  <div class="card-body">
    <p>
      After many years of producing their own whiskey, and seeing its value to
      the general population, distillers often used whiskey as a currency during
      the American Revolutionary War.
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1783 AD</h5>
  <div class="card-body">
    <p>
      The first commercial distillery is founded in Louisville, Kentucky on the
      banks of the Ohio River by Evan Williams.
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1791 AD</h5>
  <div class="card-body">
    <p>
      A new excise was introduced to help fund debt from the Revolutionary War.
      Import duties were already high, and so an excise tax on domestically
      produced distilled spirits was levied - the first of it's kind by the new
      national government. Although the tax applied to distilled spirits of any
      kind, whiskey was the most popular, and so the excise became commonly
      known as the “Whiskey Tax.”
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1791-1794 AD</h5>
  <div class="card-body">
    <p>
      The ensuing unrest between grain farmers and the US government was soon
      dubbed the “Whiskey Rebellion“. Farmers were used to distilling their
      surplus grains into whiskey and a united protest gathered speed,
      particularly in the western counties of Pennsylvania where federal
      officials were intimidated in order to deny collection of the tax. The
      rebellion came to a turning point in July 1794 when the home of tax
      inspector General John Neville was attacked by nearly 600 armed men.
      President Washington responded by sending in a militia force of around
      13,000 to march west and meet any resistance with force. The rebels
      disbanded before their arrival, key leaders fled to safety, and the mass
      protesting came to an end. The Whiskey Rebellion Political Cartoon
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1801 AD</h5>
  <div class="card-body">
    <p>
      While the physical rebellion halted, opposition to the Whiskey Tax
      continued, and became a significant issue in following political
      elections. The newly formed Democratic-Republican Party, led by Thomas
      Jefferson, would pledge to repeal the tax if voted into power, and when
      Jefferson took office in 1801, he did just that.
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1820 AD</h5>
  <div class="card-body">
    <p>
      A certain Scottish grocer named John Walker began producing his own
      whisky, which would become one of the most famous and most widely
      distributed brands of Scotch whisky in the world. John Walker himself, was
      a teetotaler.
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1823 AD</h5>
  <div class="card-body">
    <p>
      The United Kingdom brought “moonshine” production to an end, when they
      gave Scottish distilleries an option to legalize their operations by
      paying a fee. Whiskey History - commercial moonshine
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1823 AD</h5>
  <div class="card-body">
    <p>
      The process that is sour mash was developed by Dr. James C. Crow at what
      is now the Woodford Reserve Distillery in Kentucky. In the process, an
      amount of spent mash is added to a new mash, and the balance of acid and
      live yeast that is contained controls the growth of foreign bacteria,
      improving consistency between batches so that every bottle is as close to
      the previous as possible. This revolutionized the way in which bourbon is
      made, and is also a current legal requirement when producing Tennessee
      whiskey.
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1831 AD</h5>
  <div class="card-body">
    <p>
      After inventing a “continuous still” and improving the technology involved
      in distillation, Irish inventor Aeneas Coffey patented the Coffey still,
      allowing manufacturers to produce whiskey more efficiently, and at a lower
      cost.
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1840 AD</h5>
  <div class="card-body">
    <p>
      Old Bourbon County had been producing “Old Bourbon County Whiskey” for
      some years; the name was used to differentiate it from other whiskeys
      because Old Bourbon was the first corn whiskey that most people had come
      across. It wasn't until 1840 that it was officially given the name
      Bourbon, when a distiller by the name of Jacob Spears was the first to
      label his product as “Bourbon whiskey.“ First Blended Scotch -
      Ushers-Old-Vatted-Glenlivet-Whisky
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1850 AD</h5>
  <div class="card-body">
    <p>
      The first blended whisky comes into production. Andrew Usher mixed
      traditional pot still whiskey with that of a new batch produced in a
      Coffey still. Usher met stubborn resistance from traditional Irish
      distillers, many of whom claimed that this new blend was not whisky at
      all. Still, his company became the first to produce and mass-market a
      bottled blended scotch, and even became a popular import in the U.S. after
      finding distribution with Nicholas & Co. in 1853.
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1920-1933 AD</h5>
  <div class="card-body">
    <p>
      For 13 years, the American Prohibition era banned all production, sale,
      and use of alcohol. However, the federal government made an exception: the
      prescription of medicinal whiskey from a doctor, to be sold through a
      licensed pharmacy. (During this same timeframe, the pharmacy chain
      Walgreens used this to their advantage, growing from 20 stores to nearly
      400.)
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">1964 AD</h5>
  <div class="card-body">
    <p>
      Bourbon really hit the big time, as American Congress declared bourbon
      whiskey the country’s official distilled spirit. They also laid out the
      specific regulations that are to be met in order to label a whiskey as
      bourbon. (For more details, read the What is Bourbon? section of our
      whiskey introduction.)
    </p>
  </div>
</div>

<div class="card mt-5">
  <h5 class="card-header">2004 AD</h5>
  <div class="card-body">
    <p>
      The American Whiskey Trail is launched to promote many of the historical
      sites and operating distilleries in Kentucky, Tennessee, Pennsylvania,
      Virginia and New York.
    </p>
  </div>
</div>

<figure class="mt-3 pb-3">
  <blockquote class="blockquote">
    <p>Source:</p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Source Title"
      ><a href="https://www.bottleneckmgmt.com/blog/whiskey-history-timeline/"
        >Whisley History: A Timeline of Whiskey</a
      ></cite
    >
  </figcaption>
</figure>

<ng-template #alexanderOfAphrodisias>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Alexander of Aphrodisias</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>(Greek: Ἀλέξανδρος ὁ Ἀφροδισιεύς; fl. 200 AD)</strong></p>
    <p>
      was a Peripatetic philosopher and the most celebrated of the Ancient Greek
      commentators on the writings of Aristotle. He was a native of Aphrodisias
      in Caria, and lived and taught in Athens at the beginning of the 3rd
      century, where he held a position as head of the Peripatetic school. He
      wrote many commentaries on the works of Aristotle, extant are those on the
      Prior Analytics, Topics, Meteorology, Sense and Sensibilia, and
      Metaphysics. Several original treatises also survive, and include a work
      On Fate, in which he argues against the Stoic doctrine of necessity; and
      one On the Soul. His commentaries on Aristotle were considered so useful
      that he was styled, by way of pre-eminence, "the commentator" (ὁ
      ἐξηγητής).
    </p>
  </div>
</ng-template>

<ng-template #distillation>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Distillation</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>/ˌdistə'lāSH(ə)n/</strong></p>
    <p>The action of purifying a liquid by a process of heating and cooling.</p>
  </div>
</ng-template>
